@font-face {
  font-family: RobotoBold;
  src: url('../fonts/Roboto-Bold.ttf')
}

@font-face {
  font-family: RobotoRegular;
  src: url('../fonts/Roboto-Regular.ttf')
}

@font-face {
  font-family: RobotoLight;
  src: url('../fonts/Roboto-Light.ttf')
}

.Button {
  user-select: none;
  transition: 2s ease-in-out;
  background: #2D5B54;
  color: white;

  font-family: RobotoLight;
  border-radius: 10px;
  font-weight: 200;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
  width: 180px;
  height: 60px;
  cursor: pointer;
  border: 2px solid #2d5b5493;
  outline: none;
}

.Button:hover {
  color: #1c413bce;
  background: transparent;
  transition: .25s ease-in-out;
}


.Button span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}


@media only screen and (max-width: 600px) {
  .Button{
    display: inline-block;
    margin-left: 20%;
    margin-top: 15%;
  }
}