#parent_container{
    margin: auto;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    transition: all 5;
    justify-items: center;
}

.yelp_child{
    display: grid;
    row-gap: 50px;
    grid-template-columns: 3fr 2fr 1fr 1fr 1fr;
    font-size: 30px;
    color: #2D5B54;
    padding: 5px;
    font-family: Calibri;
    font-weight: 300;
}

column.name{
    grid-column: 1 / 1;
}
column.address{
    grid-column: 2 / 2;
}
column.city{
    grid-column: 3 / 3;
}
column.zipcode{
    grid-column: 4 / 4;
}
column.phone{
    grid-column: 5 / 5;
}

.deliminator{
    width: 100%;
    background-color: #2D5B54;
    height: 10px;
    grid-column: 1/6;
}




