.Header{
    width: 100%;
    background-color: #fff;
    display: flex;
    box-shadow: 0 4px 2px -2px rgb(189, 189, 189);
    position: sticky;
}

.logo_group{
    margin: 5px 0 10px 0;
}

#logo_image{
    margin-left: 10%;
}

#logo_title{
    font-family: Segoe UI;
    font-weight: 100;
    font-style: italic;
    margin-left: 20px;
    border-top: 100px;
    position: relative;
    top: 30px;
}