#svg{
  width: 75%;
  display: flex;
  margin: 0 auto;
}

.search_container{
  margin-top: 10%;
  display:flex;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}

.search_prefix{
  font-family: Calibri;
  font-weight: 300;
  font-size: 40px;
  color: #2D5B54;
}

.footer{
  height: 100px;
  width: 100%;
  background-color:#1b3531;
}