@font-face {
  font-family: LogoFont;
  src: url('../fonts/Anurati-Regular.otf');
}

@font-face {
  font-family: RobotoLight;
  src: url('../fonts/Roboto-Light.ttf')
}


@font-face {
  font-family: RobotoRegular;
  src: url('../fonts/Roboto-Regular.ttf')
}




.input {
  margin: 0 10px;
  transition: all .15s;
  font-family: RobotoLight;
  width: 2em;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 40px;
  color: #2D5B54;
  margin-top: 28px;
  background: transparent;
}

.input:focus {
  font-style: italic;
  border-width: 3px;
  border-image: linear-gradient(to right, #2D5B54, #afe9c5);
  border-image-slice: 1;
}

@media only screen and (max-width: 600px) {
  .input{
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
    -webkit-appearance: none;
    box-shadow: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    outline: none;
    text-align: center;
    margin-right: 5%;
    font-size: 30px;
    width: 10em;
    max-width: 10em;
    font-style: normal;
    border-width: 3px;
    border-color: #2D5B54;
    border-image-slice: 1;
  }
  .input:focus {
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
    -webkit-appearance: none;
    box-shadow: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    outline: none;
    font-style: normal;
    border-width: 3px;
    border-image-slice: 1;
  }

  .input::placeholder{
    font-weight: 100;
    font-style: normal;
    color: rgba(128, 128, 128, 0.795);
  }

}