
  @font-face {
    font-family: RobotoLight;
    src: url('../fonts/Roboto-Light.ttf')
  }
  
  
  @font-face {
    font-family: RobotoRegular;
    src: url('../fonts/Roboto-Regular.ttf')
  }

.selection_page{
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: none;
    user-select: none;
}

.header{
    grid-row: 1/1;
    margin: 0 auto;
    width: 90%;
    display: flex;
}

#mobile_name{
    display: none;
}

.header .back_div{
    transition: all .5s;
    border: 2px solid #2D5B54;
    background-color: #2D5B54;
    border-radius: 10px;
    margin-top: 3.5%;
    margin-right: 4%;
    height: 48px;
}

.header .back_div:hover{
    background-color:#ECFFF9;
}

.header .back_div #back_icon{
    transition: all .5s;
    height: 20px;
    padding: 14px 18px;
}

.header .back_div #back_icon:hover{
    filter: brightness(30%);

}

.header h1{
    font-family: RobotoLight;
    width: fit-content;
    margin-top: 3.8%;
    color: #2D5B54;
}

.deep_search_div{
    font-family: RobotoLight;
    color: #ECFFF9;
    text-align: center;
    transition: all .5s;
    border: 2px solid #2D5B54;
    background-color: #2D5B54;
    border-radius: 10px;
    margin-top: 3.5%;
    margin-left: 5%;
    width: 120px;
    min-width: 120px;
    height: 48px;
}

#sattelite_svg{
    position:absolute;
    z-index: 10;
    height: 25px;
    width: 25px;
}

.deep_search_div:hover{
    background-color:#ECFFF9;
    color: #2D5B54;
}


.parent_grid{
    grid-row: 2/2;
    font-family: RobotoLight;
    font-size: 20px;
    color: #2D5B54;
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 10px;
    width: 90%;
    min-width: 0px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

.parent_grid .row{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-top: 4px solid #2D5B54;
    padding-top: 10px;
    align-items: center;
}

.parent_grid .row .title{
    border-right: 2px dotted #5a8f87;
}

.parent_grid .row .information{
    margin-left: 50px;
    user-select: all;
}

#last_row{
    padding-bottom: 10px;
    border-bottom: 4px solid #2D5B54;
}

@media only screen and (max-width: 800px) {
    .header h1{
        font-size: 25px;
        margin-top: 5.5%;
    }
}


@media only screen and (max-width: 420px) {
    .header h1{
        display: none;
    }
    #mobile_name{
        font-family: RobotoRegular;
        color: #2D5B54;
        position: relative;
        bottom: 600px;
        margin: 0 auto;
        display:block;
    }
}
@media only screen and (max-width: 380px) {
    .header h1{
        font-size: 20px;
        margin-top: 4.5%;
    }
}